<form name="contact" action="https://getform.io/f/99945146-0f9d-4f8d-977d-26776664a4c7" method="POST">
    <div class="input">
        <input type="text" placeholder="Имя" name="name" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="Email" name="mail" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="Тема" name="title" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <textarea rows="5" cols="30" placeholder="Сообщение" name="message" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required></textarea>
    </div>
    <input type="submit" value="Отправить" class="px-8 py-2 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
    <input type="hidden" name="_gotcha" style="display:none !important">
</form>